# Env file to use with https://github.com/nektos/act to run GitHub Actions locally when debugging
#
# Ex:
# act --env-file .env -j build-thunderstore-package
#
# Reference:
# https://github.com/thunderstore-io/thunderstore-cli/wiki

TCLI_AUTH_TOKEN=
TS_COMMUNITY=test
TS_REPO=https://thunderstore.dev/
