[submodule "thirdparty/libcurl"]
	path = launcher/primedev/thirdparty/libcurl
	url = https://github.com/curl/curl
	ignore = untracked
[submodule "thirdparty/minhook"]
	path = launcher/primedev/thirdparty/minhook
	url = https://github.com/TsudaKageyu/minhook
	ignore = untracked
[submodule "thirdparty/minizip"]
	path = launcher/primedev/thirdparty/minizip
	url = https://github.com/zlib-ng/minizip-ng.git
