Language: Cpp
Standard: Cpp11
IndentWidth: 4
TabWidth: 4
UseCRLF: false
AccessModifierOffset: -4
AlignTrailingComments: false
AllowAllConstructorInitializersOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortFunctionsOnASingleLine: Inline
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: No
BinPackArguments: false
BinPackParameters: false
ExperimentalAutoDetectBinPacking: false
IndentCaseLabels: false
ObjCBinPackProtocolList: Auto
SpacesInSquareBrackets: false
SpacesInParentheses: false
SpaceAfterCStyleCast: false
SpaceInEmptyParentheses: false
SpaceAfterLogicalNot: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
UseTab: Always
ColumnLimit: 140
BreakBeforeBraces: Allman
AlignAfterOpenBracket: AlwaysBreak
IndentExternBlock: Indent
PointerAlignment: Left
SortIncludes: false
NamespaceIndentation: All
PackConstructorInitializers: Never
BreakConstructorInitializers: BeforeComma
